interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/2.5/onecall?APPID=745457e942ba88d7f1ee52076e04b39a&exclude=minutely%2Calerts&lang=en&lat=35&lon=139&units=metric
  response:
    body:
      string: '{"lat":35,"lon":139,"timezone":"Asia/Tokyo","timezone_offset":32400,"current":{"dt":1611525750,"sunrise":1611524852,"sunset":1611561882,"temp":4.44,"feels_like":0.39,"pressure":1024,"humidity":91,"dew_point":3.1,"uvi":0,"clouds":97,"visibility":10000,"wind_speed":3.66,"wind_deg":57,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1611525600,"temp":4.44,"feels_like":0.39,"pressure":1024,"humidity":91,"dew_point":3.1,"uvi":0,"clouds":97,"visibility":10000,"wind_speed":3.66,"wind_deg":57,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.44},{"dt":1611529200,"temp":5.26,"feels_like":1.31,"pressure":1024,"humidity":85,"dew_point":2.95,"uvi":0.39,"clouds":96,"visibility":10000,"wind_speed":3.49,"wind_deg":54,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.4},{"dt":1611532800,"temp":6.42,"feels_like":2.46,"pressure":1025,"humidity":79,"dew_point":3.05,"uvi":1.05,"clouds":88,"visibility":10000,"wind_speed":3.53,"wind_deg":57,"weather":[{"id":804,"main":"Clouds","description":"ove[...]
